<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.11.0" targetFramework="net462" />
  <package id="FakeItEasy" version="5.5.0" targetFramework="net462" />
  <package id="Fare" version="2.1.2" targetFramework="net462" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net462" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.126" targetFramework="net462" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Core" version="1.0.26" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Core.Test" version="1.0.26" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Recipe.Test" version="1.0.26" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.90" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.90" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.19" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.39" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="xunit" version="2.4.1" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net462" />
  <package id="xunit.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net462" />
</packages>