<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OBeautifulCode.Bootstrapper.Recipes.Core" version="1.0.49" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Recipe" version="1.0.49" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.136" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.136" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Properties.ProjectInfo" version="1.1.136" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>