<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Analyzer Rules - Testing" Description="Analyzer rules for test projects." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1625" Action="Warning" />
    <Rule Id="SA1627" Action="Warning" />
    <Rule Id="SA1629" Action="Warning" />
    <Rule Id="SA1649" Action="Warning" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>