<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.4.0" targetFramework="net462" />
  <package id="FakeItEasy" version="4.6.0" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.3.2" targetFramework="net462" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.107" targetFramework="net462" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.11-prerelease" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.11-prerelease" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta007" targetFramework="net462" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="xunit" version="1.9.2" targetFramework="net462" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net462" />
</packages>